In [1]:
!pip install kafka-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     |████████████████████████████████| 246 kB 11.9 MB/s
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [ ]:
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.29-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 6.6 MB/s
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.5 MB/s
Collecting botocore<1.30.0,>=1.29.29
  Downloading botocore-1.29.29-py3-none-any.whl (10.3 MB)
     |████████████████████████████████| 10.3 MB 48.3 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 53.7 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.8/dist-packages (from botocore<1.30.0,>=1.29.29->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.29->boto3) (1.15.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.13 which is incompatible.
Successfully installed boto3-1.26.29 botocore-1.29.29 jmespath-1.0.1 s3transfer-0.6.0 urllib3-1.26.13

In [ ]:
import boto3
session = boto3.session(
      region_name = '', 
      aws_access_key_id='', 
      aws_secret_access_key='')

# now instantiate the services
myclient = session.resource('s3')

TypeError: ignored

In [ ]:
import pandas as pd
from kafka import KafkaProducer,KafkaConsumer
from time import sleep
from json import dumps
import json

In [ ]:
producer = KafkaProducer(
                         bootstrap_servers=['15.206.128.113:9092'],
                         value_serializer = lambda x:
                         dumps(x).encode('utf-8'))

In [ ]:
producer.send('demo_testing',value = 'startfyufd')

In [ ]:
df = pd.read_csv('/content/uber.csv')

In [ ]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
df.sample(1).to_dict(orient = "records")[0]

{'Index': 'HSI',
 'Date': '2001-06-13',
 'Open': 13515.54004,
 'High': 13598.17969,
 'Low': 13429.23047,
 'Close': 13523.30957,
 'Adj Close': 13523.30957,
 'Volume': 0.0,
 'CloseUSD': 1758.0302441}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient = "records")[0]
    producer.send('demo_testing',value = dict_stock)
    sleep(1)

KeyboardInterrupt: ignored

In [ ]:
producer.flush()